body {
    background: tomato;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title {
    font-family: sans-serif;
}

.countdown {
    margin-bottom: 40px;
    font-size: 100px;
}

.btn {
    display: block;
    padding: 20px 30px;
    border: 0;
    border-radius: 4px;
    background: rgb(199, 61, 61);
    font-size: 20px;
    color: #fff;
}